{% extends "base.html.j2" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styleConnection.css') }}">
{% endblock %}

{% block title %}
Enregistrement
{% endblock %}

{% block body %}
<body>
    <div class="page-container">
        <div class="login-container">
            <h2>Enregistrement</h2>
            <form id="registerForm">
                <label for="username">Nom d'utilisateur:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">S'inscrire</button>
            </form>
            <p>Déjà un compte ? <a href="/">Se connecter</a></p>
            <p>Pour supprimer un compte :<a href="/delete_account">Supprimer un compte</a></p>
        </div>
    </div>

    <script>
        // Gestion de l'envoi en JSON du formulaire d'inscription
        document.getElementById('registerForm').addEventListener('submit', function(event) {
            event.preventDefault();  // Empêche le comportement par défaut (rechargement de la page)

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password })  // Envoie les données en JSON
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.success);  // Affichage du succès
                    window.location.href = '/';  // Redirection vers la page de connexion
                } else {
                    alert(data.error);  // Affichage de l'erreur
                }
            })
            .catch(error => console.error('Erreur:', error));
        });
    </script>
</body>
{% endblock %}
